<div class='card'>
  <div class='display'>
    <h2 class='country-name'><div class='flag'><img
          src='{{flags.svg}}'
          alt='{{flags.alt}}'
        /></div>{{name.official}}</h2>
  </div>
  <p class='capital'>Capital:{{capital}}</p>
  <p class='population'>Population:{{population}}</p>
  <p class='languages'>Languages:{{languages}}</p>

</div>